<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteeringWheel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SteeringWheel.Properties.Settings>
            <setting name="MainWindowIsBluetoothSelected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectNetworkWindowIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConfigureWindowControlSteeringMin" serializeAs="String">
                <value>-90</value>
            </setting>
            <setting name="ConfigureWindowControlSteeringMax" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="ConfigureWindowControlAccMin" serializeAs="String">
                <value>-30</value>
            </setting>
            <setting name="ConfigureWindowControlAccMax" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="ConfigureWindowControlAccRestMin" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ConfigureWindowControlAccRestMax" serializeAs="String">
                <value>40</value>
            </setting>
        </SteeringWheel.Properties.Settings>
    </userSettings>
</configuration>